{% extends 'base.html' %}

{% block title %}Maōri Dictionary | Home{% endblock %}

{% block heading %}Maōri - English Dictionary{% endblock %}

{% block pageheading %}
Category
{% endblock %}

{% block main %}
<table class="cart-table">
    <thead>
    <tr>
        <td>Maori</td>
        <td>English</td>
        <td>image</td>
    </tr>
    </thead>
    <tbody>
    {%  for word in words_list %}
    <tr>
        <td><a href="/word/{{ word[0] }}">{{ word[1] }}</a></td>
        <td>{{ word[2] }}</td>
        <td></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}