{% extends 'base.html' %}

{% block title %}Maōri Dictionary | Home{% endblock %}

{% block heading %}Maōri - English Dictionary{% endblock %}

{% block pageheading %}
Category
{% endblock %}

{% block main %}

    <h2>{{ category[1]}}{% if logged_in_teacher %}<a href="/deletecategory/{{ category[0]}}/{{ category[1]}}">- Delete Category</a>{% endif %}</h2>

<table class="cart-table">
    <thead>
    <tr>
        <td>Maori</td>
        <td>English</td>
        <td>image</td>
    </tr>
    </thead>
    <tbody>
    {%  for word in words_list %}
    <tr>
        <td><a href="/word/{{ word[0] }}">{{ word[1] }}</a></td>
        <td>{{ word[2] }}</td>
        <td width="150px"><img src="/static/images/{{ word[3] }}.jpg"  alt=""></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% if logged_in_teacher %}
<form class="dataForm" method="POST" >
    <h2>Add word</h2>
    <div class="form-group">
        <div class="form-label">Maori:</div>
        <div class="form-element"><input type="maori" name="maori" id="maori" required></div>
    </div>
    <div class="form-group">
        <div class="form-label">English :</div>
        <div class="form-element"><input type="english" name="english" id="english" required></div>
    </div>
    <div class="form-group">
          <div class="form-label">Level:</div>
            <p>
                1<input type="radio" name="level" id="level" value="1" required>
                2<input type="radio" name="level" id="level" value="2" required>
                3<input type="radio" name="level" id="level" value="3" required>
                4<input type="radio" name="level" id="level" value="4" required>
                5<input type="radio" name="level" id="level" value="5" required>
                6<input type="radio" name="level" id="level" value="6" required>
                7<input type="radio" name="level" id="level" value="7" required>
                8<input type="radio" name="level" id="level" value="8" required>
                9<input type="radio" name="level" id="level" value="9" required>
                10<input type="radio" name="level" id="level" value="10" required>
            </p>
          <div class="form-element"></div>
    </div>
    <div class="form-group">
        <div class="form-label">Definition :</div>
        <div class="form-element"><input type="definition" name="definition" id="definition" required></div>
    </div>
    <div class="form-group">
        <div class="form-label"></div>
        <div class="form-element"><input type="submit" value="Add word" required></div>
    </div>
</form>
{% endif %}
{% endblock %}