{% extends 'base.html' %}

{% block title %}Maōri Dictionary | Home{% endblock %}

{% block heading %}Maōri - English Dictionary{% endblock %}

{% block main %}
<h3>This is the search page</h3>
<form class="dataForm" method="POST">
    <div class="form-group">
        <div class="form-label">Search:</div>
        <div class="form-element"><input type="search" name="search" id="search" required></div>
    </div>
    <div class="form-group">
        <div class="form-label"></div>
        <div class="form-element"><input type="submit" value="search" required></div>
    </div>
</form>
<table class="cart-table">
    <thead>
    <tr>
        <td>Maori</td>
        <td>English</td>
        <td>image</td>
    </tr>
    </thead>
    <tbody>
    {%  for word in english_words %}
    <tr>
        <td><a href="/word/{{ word[0] }}">{{ word[1] }}</a></td>
        <td>{{ word[2] }}</td>
        <td width="150px"><img src="/static/images/{{ word[3] }}.jpg"  alt=""></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
