{% extends 'base.html' %}

{% block title %}Maōri Dictionary | Home{% endblock %}

{% block heading %}Maōri - English Dictionary{% endblock %}

{% block pageheading %}
Word
{% endblock %}

{% block main %}
    {%  for word in words %}
    <h2>{{ word[1] }}({{ word[2] }}){% if logged_in_teacher %}<a href="/deleteword/{{ word[0]}}/{{ word[1] }}">- Delete Word</a>{% endif %}</h2>
    {% endfor %}
<table class="cart-table">
    {%  for word in words %}
    <thead>
    <tr>
        <td><h5>Definition:</h5></td>
        <td>{{ word[3] }}</td>
    </tr>
    <tr>
        <td><h5>Level:</h5></td>
        <td>{{ word[4] }}</td>
    </tr>
    <tr>
        <td><h5>Date Added:</h5></td>
        <td>{{ word[5] }}</td>
    </tr>
    <tr>
        <td><h5>Edited By:</h5></td>
        <td>{{ word[8] }}</td>
    </tr>
    <tr>
        <td><h5>Image:</h5></td>
        <td><img src="/static/images/{{ word[7] }}.jpg"  alt=""></td>
    </tr>
    </thead>
    {% endfor %}

</table>
{% if logged_in_teacher %}
<form class="dataForm" method="POST">
    <h2>Edit word</h2>
    <div class="form-group">
        <div class="form-label">Maori:</div>
        <div class="form-element"><input type="maori" name="maori" id="maori" required></div>
    </div>
    <div class="form-group">
        <div class="form-label">English :</div>
        <div class="form-element"><input type="english" name="english" id="english" required></div>
    </div>
    <div class="form-group">
        <div class="form-label">Level :</div>
        <div class="form-element"><input type="level" name="level" id="level" required></div>
    </div>
    <div class="form-group">
        <div class="form-label">Definition :</div>
        <div class="form-element"><input type="definition" name="definition" id="definition" required></div>
    </div>
    <div class="form-group">
        <div class="form-label"></div>
        <div class="form-element"><input type="submit" value="Add word" required></div>
    </div>
</form>
{% endif %}
{% endblock %}